@font-face {
    font-family: BNazanin;
    src: url(BNAZANB.TTF);
}

body{
    text-align: right;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

.printed ,.printed span , .printed b{
    font-size: 80px;
    direction: rtl;
    font-family: BNazanin;
}

.printed span{
    font-size: 90px;
}

.long-text ,.long-text span,.long-text b{
    font-size: 70px;
}

.short-text ,.short-text span,.short-text b{
    font-size: 100px;
}

canvas{
    direction: rtl;
}

