@font-face {
    font-family: BNazanin;
    src: url(BNAZANB.TTF);
}

body{
    text-align: right;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

.printed ,.printed span , .printed b{
    font-size: 40px;
    direction: rtl;
    font-family: BNazanin;
    line-height: 50px;
}

.printed span{
    font-size: 45px;
}


.printed{
    max-height: 480px;
    overflow-y: hidden;
}
