body{
    text-align: right;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

.printed ,.printed span , .printed b{
    font-size: 40px;
    direction: rtl;
}

.printed{
    max-height: 500px;
    overflow-y: hidden;
}
